* {
  font-family: sans-serif;
}

.container{
  /* background-size: cover;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imgs/todoimg3.jpeg); */

}
.h1Style {
  text-align: center;
}

.pStyle {
  text-align: center;
  color: gray;
}

.formStyle {
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #EEEEEE;
  border-radius: 4px;
}

.formStyle input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0px #ffd6b3;
}

.formStyle select {
  width: 75%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0px #ffd6b3;
}

.formStyle label {
  /* width: 40%; */
  margin-bottom: 10px;
  display: inline-block;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 10px;
  color: gray;
}

.formStyle button {
  background-color: #ffd6b3;
  color: gray;
  padding: 14px 20px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 0px 1px 4px 0px #999999e0;
}

.inlineDiv{
  display: inline-block;
  width: 49%;
}
.formStyle button:hover {
  opacity: 1;
}

.iconStyle {
  color: gray;
}
